<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ravelll.wifi</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>247E070E-54F3-46F0-A6C0-39F711158178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ravelll</string>
	<key>description</key>
	<string>Control Wi-Fi setting</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wi-Fi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"on","arg":"on","subtitle":"Turn WiFi On"},{"title":"off","arg":"off","subtitle":"Turn WiFi off"},{"title":"restart","arg":"restart","subtitle":"Restart WiFi"}]</string>
				<key>keyword</key>
				<string>wifi</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>on / off / restart</string>
				<key>title</key>
				<string>Control Wi-Fi setting</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>247E070E-54F3-46F0-A6C0-39F711158178</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [ "{query}" = "restart" ]; then
  networksetup -setairportpower en0 off
  networksetup -setairportpower en0 on
else
  networksetup -setairportpower en0 {query}
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow give you function to control Wi-Fi setting to on/off/restart.</string>
	<key>uidata</key>
	<dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>247E070E-54F3-46F0-A6C0-39F711158178</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>http://ravelll.hatenadiary.jp/</string>
</dict>
</plist>
